.interest-images {
  height: 452px;
  background-image: url('images/contacts.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.interest-images2 {
  height: 500px;
  background-image: url('images/me with bangs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.interest-images3 {
  height: 500px;
  background-image: url('images/Hiroyuki.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
.space {
  height: 50px
}

.title {
  font-size: 60px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 30px;
  font-family: 'Playfair Display', serif;
}

.abc {
  font-size: 30px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 15px;
  font-family: 'Libre Baskerville', serif;
}

.dfg {
  font-size: 25px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 20px;
  font-family: 'Source Serif Pro', serif;
}

.space2 {
  height: 27px
}

.interest-images1 {
  height: 500px;
  background-image: url('images/andres.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
