<!-- Page container -->
<div class="container-fluid position-rev text">

<!-- Header & navbar -->
<div class="col-md-12 header-placeholder"> HEADER </div>

<div class="col-md-12 nav-placeholder"> NAVBAR </div>
    <!-- End of header & navbar -->

<!-- The petBio body -->
<div class="col-md-7 photo clear-left">
  PET PHOTO(S)
</div>
<div class="col-md-5 bio left clear-right">
  PET BIO & OTHER INFORMATION
  <div class="col-md-12 summary"> SUMMARY </div>
  <div class="col-md-12 about-me"> ABOUT ME </div>
  <div class="col-md-12 history"> HISTORY </div>
  <div class="col-md-12 medical-health"> MEDICAL HEALTH </div>

</div>
<div class="col-md-7 adopt left clear-left">
  ATTRACTIVE ADOPT NOW BUTTON
</div>
<div class="col-md-5 search left clear-right">
  SEARCH ARCHIVE/NAVIGATOR
</div>
    <!-- End of the petBio body -->

<!-- Footer -->
<div class="col-md-12 footer-placeholder"> FOOTER </div>
    <!-- End of footer -->
</div>
    <!-- End of page container -->
