<!-- Page container -->
<div class="container-fluid position-rev text">

<!-- Header & navbar -->
<div class="row">
  <div class="col-md-12 header-placeholder"> HEADER </div>
</div>
<div class="row">
  <div class="nav-placeholder"> NAVBAR </div>
</div>
    <!-- End of header & navbar -->

<!-- The petBio body -->
<div class="row">
  <div class="col-md-7 photo no-padding">
    <div class="breed">
      <p>German Sherpherd</p>
      <p>No name</p>
    </div>
  </div>
  <div class="col-md-5 bio left no-padding">
    <div class="tab-title">Summary</div>
    <p class="tab-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
       voluptatem nostrum quam cumque maiores mollitia alias a dolorum
       numquam dolorem quaerat reprehenderit eius voluptates distinctio
       itaque rem molestias. Illum, ullam. Lorem ipsum dolor sit amet,
       consectetur adipisicing elit. Laudantium sequi, esse incidunt numquam
       voluptates repudiandae ipsam modi sint quos dolorum. Quia cumque num quam
    </p>
    <div class="tabs">
      <div class="summary"> SUMMARY </div>
      <div class="about-me"> ABOUT ME </div>
      <div class="history"> HISTORY </div>
      <div class="medical-health"> MEDICAL HEALTH </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7 adopt left">
    ATTRACTIVE ADOPT NOW BUTTON
  </div>
  <div class="col-md-5 search left">
    SEARCH ARCHIVE/NAVIGATOR
  </div>
</div>
    <!-- End of the petBio body -->

<!-- Footer -->
<div class="row">
  <div class="footer-placeholder"> FOOTER </div>
</div>
    <!-- End of footer -->
</div>
    <!-- End of page container -->
